@-webkit-keyframes rotateOut {
	from { 
		// -webkit-transform: rotateZ(0deg);
	}
	to { 
		// -webkit-transform: rotateZ(360deg);
		width: 0%;
		height: 0%;
		opacity: 0;
		z-index: $zi0;
	}
}
@-o-keyframes rotateOut {
	from { 
		transform: rotateZ(0deg);
	}
	to { 
		transform: rotateZ(360deg);
		width: 0%;
		height: 0%;
		opacity: 0;
		z-index: $zi0;
	}
}
@-moz-keyframes rotateOut {
	from { 
		transform: rotateZ(0deg);
	}
	to { 
		transform: rotateZ(360deg);
		width: 0%;
		height: 0%;
		opacity: 0;
		z-index: $zi0;
	}
}
@keyframes rotateOut {
	from { 
		transform: rotateZ(0deg);
	}
	to { 
		transform: rotateZ(360deg);
		width: 0%;
		height: 0%;
		opacity: 0;
		z-index: $zi0;
	}
}


@-webkit-keyframes start-button {
	0% { color: rgba(255, 255, 255, .64); }
	99% { color: rgba(255, 255, 255, .64); }
	100% { color: black; }
}
@-o-keyframes start-button {
	0% { color: rgba(255, 255, 255, .64); }
	99% { color: rgba(255, 255, 255, .64); }
	100% { color: black; }
}
@-moz-keyframes start-button {
	0% { color: rgba(255, 255, 255, .64); }
	100% { color: black; }
}
@keyframes start-button {
	0% { color: rgba(255, 255, 255, .64); }
	100% { color: black; }
}



.game-started {
	-webkit-animation: rotateOut linear 2s forwards;
	animation: rotateOut linear 2s forwards;
}