.start-screen {
	background-color: purple;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: $zi7;
}

.big-title {
	font-size: 30px;
	margin: 0 auto;
}

.hero {
	height: 100%;
}

.actions {
	clear: both;
	margin: 0 auto;

}


.trackers * {
	position: fixed;
	border: 1px solid red;
	height: 50px;
	width: 50px;
}

.action-item start
.action-item help
.box.active-cat {
	left: 50%;
}
.box.active-baby {
	left: 30%;
}

#boxes,
.trackers {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	-webkit-filter: url("#goo");
	filter: url("#goo");
}
.box {
	position: absolute;
	width: 100px;
	height: 100px;

}
.active-cat {
	background-color: red;
}
.active-baby {
	background-color: blue;
}
.gripped {
	border: 5px dashed pink;
}
canvas{
	pointer-events: none;
	z-index: $zi7;
}