@font-face {
	font-family: 'Press Start';
	src: url('../fonts/prstartk.ttf');
}

.start-screen {
	background: url('../img/lasercat.gif') top left no-repeat;
	background-size: cover;
	font-family: 'Press Start';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: $zi7;
}

.big-title {
	font-size: 30px;
	margin: 0 auto;
}

.hero {
	height: 100%;
}

.actions {
	background-color: rgba(255, 255, 255, .64);
	clear: both;
	margin: 0 auto;
	padding: 100px;
	text-align: center;
}

.action-item.start {
	animation: start-button infinite 500ms;
	border: 2px solid #000;
	cursor: pointer;
	margin: 30px auto 0;
	padding: 10px;
	width: 100px;
}
.action-item help

.trackers * {
	position: fixed;
	border: 1px solid red;
	height: 50px;
	width: 50px;
}

.box.active-cat {
	left: 50%;
}
.box.active-baby {
	left: 30%;
}

#boxes{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	-webkit-filter: url("#goo");
	filter: url("#goo");
}
.box {
	position: absolute;
	width: 100px;
	height: 100px;

}
.active-cat {
	background-color: red;
}
.active-baby {
	background-color: blue;
}
.gripped {
	border: 5px dashed pink;
}
.is-selected {
	border: 5px dashed orange;
}
canvas{
	pointer-events: none;
	z-index: $zi7;
}