// vars
$zi1: 100;
$zi2: 200;
$zi3: 300;
$zi4: 400;
$zi5: 500;
$zi6: 600;
$zi7: 700;




.start-screen {
	background-color: purple;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: $zi7;
}

.big-title {
	font-size: 30px;
	margin: 0 auto;
}

.hero {
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 100%;
}

.actions {
	clear: both;
	margin: 0 auto;

}

.action-item start
.action-item help
.box active-cat
.box active-baby

#boxes {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.box {
	position: absolute;
	width: 100px;
	height: 100px;
}
.active-cat {
	background-color: red;
}
.active-baby {
	background-color: blue;
}
.gripped {
	border: 5px dashed pink;
}
canvas{
	pointer-events: none;
}